body {
    margin: 0;
    margin-top: 50px;
}

#header {
    border: 1px solid #1C6EA4;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;   
}
#name {
    border: 1px solid #1C6EA4;
    margin-left: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}
    
#header * {
    display: inline;
    height: 500px;
}

.link {
    list-style-type: none;
    margin: 0;
    padding: 0;
}





footer {
    text-align: center;
    padding: 50px;
}